---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Shento Hendriks - Creative Developer">
  <section class="min-h-[85svh] relative flex justify-center items-center flex-col">
    <div class="flex flex-col">
      <span class="font-italic text-8xl">Shento Hendriks</span>
      <span class="font-italic text-8xl">
        <em>Creative Developer</em>
      </span>
    </div>
    <div class="w-screen absolute bottom-0">
      <div class="container mx-auto">
        <p class="ml-auto max-w-sm">Ik help merken en bedrijven zichzelf te positioneren met behulp van functioneel en visueel sterk design.</p>
      </div>
    </div>
  </section>
</Layout>
