<header class="uppercase py-6 px-8 flex justify-between font-normal">
  <a href="/">Shento Hendriks©</a>
  <nav class="flex gap-8 items-center">
    <a href="/werk">Werk</a>
    <a href="/over">Over</a>
    <a class="bg-[var(--primary-color)] hover:bg-black hover:text-white duration-100 ease-in py-4 px-6 rounded-full" href="/contact">Contact</a>
  </nav>
</header>
